<div class="container text-center">
  </div>
  <div class="container">
    <div class="row">

    <div class="search-hero">
        <label ><b>Search</b></label>&nbsp;
        <label><input type = "text" name="search" [(ngModel)]="searchText" placeholder ="Enter Some Text To Search" /></label> <br><br><br>
    </div>

    <table class="table table-striped">

        <thead>
            <tr>
                <th>Id</th>
                <th>Hero Name</th>
                <th>Country</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let hero of heroes | filter:searchText">
                <td>{{hero.id}}</td>
                <td>{{hero.name}}</td>
                <td>{{hero.country}}</td>
            </tr>
        </tbody>

    </table>

    </div>
  </div>
