
<div>
    <!-- <app-header></app-header> -->

    <!-- <h2>Angular Data Binding</h2> -->
    <!-- <app-string-interpolation></app-string-interpolation> -->
    <!-- <app-property-binding></app-property-binding> -->
    <!-- <app-event-binding></app-event-binding> -->
    <!-- <app-two-way-binding></app-two-way-binding> -->

    <!-- <app-calculator></app-calculator> -->

    <!-- <h2>Types of Directives</h2> -->
    <!-- <app-stracture-directive></app-stracture-directive> -->
    <!-- <app-attribute-directives></app-attribute-directives> -->

    <!-- <h2>Angular Forms</h2> -->
    <!-- <app-template-df-login-page></app-template-df-login-page> <hr> -->
    <!-- <app-model-df-login-page></app-model-df-login-page> -->

    <h2>Angular Pipe-Search</h2>
    <app-pipe-search></app-pipe-search>

    <h2>Angular File-Uploader</h2>
    <app-file-uploader></app-file-uploader>

    <h2>Angular Pagination</h2>
    <app-pagination></app-pagination>


</div>


